In [1]:
# database:
#     1.establish connection with mysql
#     2.create database
#     3.Create cursor
#     4.execute any sql query(insert,update,delete)
#     5.connection close

In [2]:
# In cmd for install pymysql in python folder : python -m pip install pymysql

In [4]:
# connect to the phpmyadmin

import pymysql
def connection():
    return pymysql.connect(user="root",host="localhost")

In [5]:
print(connection())

<pymysql.connections.Connection object at 0x000001419F1C58C8>

In [6]:
# create database

def DB():
    conn = connection()
    cur = conn.cursor()
    # create database DB_name
    sql = "create database python"
    cur.execute(sql)
    print("done")
    conn.commit()
    conn.close()

In [7]:
DB()

done

In [8]:
# connect to the phpmyadmin

def connection():
    return pymysql.connect(host="localhost",user="root",database="python")

In [9]:
print(connection())

<pymysql.connections.Connection object at 0x000001419F1E8E08>

In [10]:
# create table
# create table table_name(column_name datatype)

def tab():
    conn = connection()
    cur = conn.cursor()
    #sql = "create table student (Id int,First_name varchar(20),Last_name varchar(20))"
    #cur.execute(sql)
    cur.execute("create table student (Id int,First_name varchar(20),Last_name varchar(20))")
    print("done")
    conn.commit()
    conn.close()

In [11]:
tab()

done

In [12]:
# insert
# insert into table_name values(column_values)

def Insert(id,fn,ln):
    conn = connection()
    cur = conn.cursor()
    sql = "insert into student values (%s,%s,%s)"
    value = (id,fn,ln)
    cur.execute(sql,value)
    print("done")
    conn.commit()
    conn.close()

In [13]:
Insert(1,"Jignesh","Bhimani")

done

In [14]:
Insert(2,"Rahul","Shah")

done

In [15]:
Insert(3,"Disha","Vekariya")

done

In [17]:
# update data
# update table_name set column_name = new_value where condition

def update():
    conn = connection()
    cur = conn.cursor()
    sql = "update student set First_name = 'Ankita' where id=3"
    cur.execute(sql)
    print('done')
    conn.commit()
    conn.close()

In [18]:
update()

done

In [19]:
# delete-----> delete from table_name where condition

def Delete():
    conn = connection()
    cur = conn.cursor()
    sql = "delete from student where id=3"
    cur.execute(sql)
    print('done')
    conn.commit()
    conn.close()

In [20]:
Delete()

done