In [1]:
# A set is a collection which is both unordered and unindexed data.
# Sets are written in curly brackets.
# Sets don't allow duplicate values.

In [2]:
# create set

s = {1,2,3,4}
type(s)

set

# add

In [3]:
# add element where passed in argument
# only one value can pass in the argument

In [4]:
s = {1,2,3,4,'a','b',5,6,7,8}
s.add(110)
s

{1, 110, 2, 3, 4, 5, 6, 7, 8, 'a', 'b'}

# pop

In [5]:
# First element deleted

In [6]:
s = {1,2,3,4,5}
s.pop()
s

{2, 3, 4, 5}

# remove

In [7]:
# Remove element where passed in argument

In [8]:
s = {1, 110, 2, 3, 4, 5, 6, 7, 8, 'a', 'b'}
s.remove(110)
s

{1, 2, 3, 4, 5, 6, 7, 8, 'a', 'b'}

# delete

In [9]:
# Whole set deleted

In [11]:
s = {1,2,3,4,5}
del s
s
# because whole set deleted

NameError: name 's' is not defined

# update

In [ ]:
# add elements in set where passed in argument
# multiple element add where passed in the argument

In [13]:
s = {1, 110, 2, 3, 4, 5, 6, 7, 8, 'a', 'b'}
s.update(['c','d','e'])
s

{1, 110, 2, 3, 4, 5, 6, 7, 8, 'a', 'b', 'c', 'd', 'e'}

# union

In [14]:
# output will be an s1 and s2 value but not the same value

s1 = {1,2,3,4}
s2 = {2,4,5,7}
s1.union(s2)

{1, 2, 3, 4, 5, 7}

# intersection

In [15]:
# Only reapeted value

s1 & s2

{2, 4}

In [17]:
s1.intersection(s2)

{2, 4}

# difference

In [18]:
# only s1 value but not repeated value

# s1.difference(s2)
s1 - s2

{1, 3}

In [19]:
# only s2 value but not reapeated value

# s1.difference(s2)
s1 - s2

{1, 3}

# symmetric_difference

In [20]:
# common value remove and print other elements both set

# s1.symmetric_difference(s2)
s1 ^ s2

{1, 3, 5, 7}