In [1]:
# Tuples are used to store multiple items in a single variable.
# Tuples are ordered, unchangeable and allow duplicate values.
# Tuples are written in round brackets.
# Tuples are immutable.
# append and clear is not working in tuple

In [2]:
# create tuple
t = (1,2,3,4)
type(t)

# t = (1,)
# type(t)

# t = ()
# type(t)

# t = tuple([1,2,3,4])
# type(t)

tuple

# index

In [3]:
# index(value)

t = (1,2,3,[4,5])
t.index(3)

2

# delete

In [5]:
# whole tuple deleted

t = (1,2,3,4,5)
del t
t
# because whole tuple is deleted

NameError: name 't' is not defined

# length

In [6]:
# length of tuple show it

t = (1,2,3,4,5,6,7,8,9)
len(t)

9

# max

In [7]:
# maximum value show it

t = (1,2,3,4,5,6,7,8,9)
max(t)

9

# min

In [8]:
# minimum value show it

t = (1,2,3,4,5,6,7,8,9)
min(t)

1